html,
body,
section,
article,
div {
  height: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.left {
  flex: 1;
  padding: 1rem;
  height: 90%;
}

.right {
  height: 90%;
  flex: 1;
  border: 1px solid black;
}
